@import "../../node_modules/bootstrap/scss/functions.scss";
@import 'variables';
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

@media (max-width: 767px) {

  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}

@media print {
  #side-menu.wide {
    display: none;

    &+#main {
      margin-left: 0 !important;
    }
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
  position: relative;
}

body {
  font-size: 17px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  color: #333;
}

#app-root {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.layout {
  min-height: 100%;

  &.public-layout {
    background: url('/public/images/home_bg.jpg') center center;
    background-size: cover;

    .navbar-bg {
      background-color: rgba(33, 33, 33, 0.5);
    }
  }

  &.restricted-layout {
    .navbar {
      padding: 0 20px 0 0;
      height: $restricted-navbar-height;
      border-bottom: 1px solid #ddd;

      .navbar-brand {
        padding-left: 20px;
        padding: 0 20px;
        line-height: $restricted-navbar-height;
        background: $primary;
        width: $restricted-sidebar-width;
        color: #fff;
      }

      .sidebar-toggler {
        background: transparent;
        color: $primary;
        border: none;

        .fa {
          font-size: 180%;
        }
      }

      .nav-time {
        @media (max-width: 1100px) {
          display: none;
        }
      }

      .dropdown {
        &>.nav-link {
          &:after {
            display: inline-block;
            padding-left: 5px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f053";
            position: absolute;
            right: 5px;
            top: 15px;
            font-size: 12px;
          }

          &#navbar-notifications {
            transition: color 0.2s ease;
            padding-left: 20px;

            &:hover {
              color: $primary;
            }

            &:after {
              content: ''
            }

            .fa {
              font-size: 160%;
              font-weight: 600;
            }

            .badge {
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }

          &#navbar-profile {
            padding-right: 20px;
            color: $primary;
            transition: color 0.2s ease;

            &:hover {
              color: inherit;
            }
          }
        }

        .dropdown-overlay {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: transparent;
          z-index: 900;
        }

        &.show {
          &>.nav-link {
            &:after {
              display: inline-block;
              padding-left: 5px;
              font: normal normal normal 14px/1 FontAwesome;
              content: "\f078";
              position: absolute;
              right: 5px;
              top: 15px;
              font-size: 12px;
              color: $primary;
            }
          }

          .dropdown-overlay {
            display: block;
          }

          .dropdown-menu {
            background: $dropdown-background;
            display: block;

            .dropdown-item {
              font-size: 90%;

              &:hover {
                background: transparent;
                color: $primary;
              }
            }
          }
        }
      }

      #navbar-support {
        &>a {
          &:hover {
            color: $primary;
          }

          .fa {
            font-size: 160%;
            font-weight: 600;
          }
        }
      }
    }

    #main {
      padding-top: 75px;
    }
  }
}

#side-menu {
  padding-top: $restricted-navbar-height;
  background: #fff;
  position: absolute;
  bottom: 0;
  top: 0;

  z-index: 2;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

  &>.nav {
    overflow: hidden;
  }

  &.wide {
    width: $restricted-sidebar-width;

    &+#main {
      margin-left: $restricted-sidebar-width;
    }
  }

  &.narrow {
    width: $restricted-sidebar-narrow-width;

    &+#main {
      margin-left: $restricted-sidebar-narrow-width;
    }

    .nav-item {
      .fa {
        width: auto;
      }

      .nav-link {
        .title {
          display: none;
        }
      }

      &.dropdown {
        &>.nav-link {
          &:after {
            content: none;
          }
        }

        &.show {
          &>.nav-link {
            &:after {
              content: none;
            }
          }

          .dropdown-menu {
            display: block;
            position: absolute;
          }
        }

        &.show,
        &:hover {
          .dropdown-menu {
            display: block;
            position: absolute;
            left: 100%;
            top: 0;
            border: none;
            border-radius: 0;
            margin-top: -7px;
            background: #fff;

            .dropdown-item {
              font-size: 90%;
              padding-left: 15px;

              &:hover {
                background: transparent;
                color: $primary;
              }
            }
          }
        }
      }
    }

    .bottom-links {
      display: none;
    }
  }

  .nav-item {
    width: 100%;

    a {
      text-transform: uppercase;
      font-size: 90%;
      color: #7b777a;
      padding: 10px 15px;
      display: block;
      position: relative;

      &:hover {
        background-color: #eee;
      }

      &.favorite-project {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 80%;

        .fa {
          color: #aaa;
        }
      }
    }

    &.active {
      a {
        color: $primary;
        background-color: #eee;
      }
    }

    &.dropdown {
      &>.nav-link {
        &:after {
          display: inline-block;
          padding-left: 5px;
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f053";
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 12px;
        }
      }

      &.show {
        &>.nav-link {
          &:after {
            display: inline-block;
            padding-left: 5px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f078";
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 12px;
            color: $primary;
          }
        }

        .dropdown-menu {
          display: block;
          position: initial;
          float: none;
          border: none;
          border-radius: 0;
          background: $dropdown-background;
          border-top: 1px solid darken($dropdown-background, 5%);
          border-bottom: 1px solid darken($dropdown-background, 5%);

          .dropdown-item {
            padding-left: 30px;
            font-size: 90%;

            &:hover {
              background: transparent;
              color: $primary;
            }
          }
        }
      }
    }

    .fa {
      width: 35px;
      color: $primary;
      font-size: 130%;
    }
  }

  .bottom-links {
    margin: 15px 0;

    a {
      color: $primary;
      padding: 10px 0;
      text-align: center;
      font-size: 130%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-right: none;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }
}


#main {
  padding: 20px;
  height: 100%;
  position: relative;
  min-height: calc(100vh - 56px);
  transition: all 0.3s ease;
}

.card {
  .card-title {
    text-transform: uppercase;
  }
}

table {
  .shrink {
    width: 1px;
    white-space: nowrap;
  }
}

.table {
  tr {
    td {
      vertical-align: middle;
    }

    th {
      border-top-color: transparent;
    }
  }
}

.btn {
  text-transform: uppercase;
  font-size: 15px;

  &+.btn {
    margin-left: 0.5rem;
  }

  .fa {
    min-width: 1.1em;
  }

  &:focus {
    box-shadow: none !important;
  }

  &.btn-raised {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.14);
  }

  &.btn-round {
    border-radius: 50px !important;

    &:not(.btn-icon) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .badge {
    border-radius: 50%;

    &.badge-primary {
      background: lighten($primary, 5%);
    }
  }

  &.btn-default {
    color: #555;
    background: #eee;
    transition: all 0.3s ease;

    &:hover {
      background: #ddd;
    }
  }

  &.btn-icon {
    border-radius: 50%;
    padding: 0.375rem 0.6rem;

    .fa {
      width: 16px;
      height: 16px;
      min-width: auto;
    }
  }
}

#auth-form-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    max-width: 400px;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

    button,
    input {
      width: 100%;
    }

    .validation-errors {
      text-align: center;
    }
  }
}

.modal-footer {
  border-top-color: transparent;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
  z-index: 2000 !important;

  &.show {
    display: block !important;
  }

  .modal-body {
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}

.active-task {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  z-index: 10;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .fa {
    font-size: 1.5em;
  }

  .stop-button {
    cursor: pointer;
    transition: all 0.3s ease;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }
  }
}

.m-notifications {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;

  .m-notification {
    width: auto;
    margin-bottom: 0.25rem;
    max-width: 400px;
    cursor: pointer;
    animation: fade-in 0.3s;

    &:hover {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

    &.destroy {
      animation: fade-out 0.3s;
    }

    &.info {
      color: #0c5460;
      background-color: #d1ecf1;
      padding: 0.75rem 1.25rem;
      border: 1px solid #bee5eb;
      border-radius: 0.25rem;
    }

    &.warning {
      color: #856404;
      background-color: #fff3cd;
      padding: 0.75rem 1.25rem;
      border: 1px solid #ffeeba;
      border-radius: 0.25rem;
    }

    &.danger {
      color: #721c24;
      background-color: #f8d7da;
      padding: 0.75rem 1.25rem;
      border: 1px solid #f5c6cb;
      border-radius: 0.25rem;
    }

    &.success {
      color: #155724;
      background-color: #d4edda;
      padding: 0.75rem 1.25rem;
      border: 1px solid #c3e6cb;
      border-radius: 0.25rem;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.projects {
  textarea {
    height: 10em;
  }

  .card {
    transition: box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

.project {
  .project-time-spent {
    margin-top: -24px;
    margin-bottom: 24px;
    color: #777;
  }

  .project-contents {
    margin-top: -12px;
    margin-bottom: 24px;
    background: #fff;
    padding: 10px 15px;

    *:last-child {
      margin-bottom: 0;
    }
  }

  .project-time-spent+.attached_files {
    margin-top: -0.5rem !important;
    margin-bottom: 1rem !important;
  }

  .project-contents+.attached_files {
    margin-top: -0.5rem !important;
    margin-bottom: 1rem !important;
  }
}

.task {
  textarea {
    height: 10em;
  }

  .task-time-spent {
    margin-top: -24px;
    margin-bottom: 24px;
    color: #777;
  }

  .task-contents {
    margin-top: 15px;
    margin-bottom: 24px;
    background: #fff;
    padding: 10px 15px;

    *:last-child {
      margin-bottom: 0;
    }
  }

  .buttons+.comments {
    margin-top: 24px;
  }

  .buttons+.attached_files {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .task-contents+.attached_files {
    margin-top: -0.5rem !important;
    margin-bottom: 1rem !important;
  }
}

.validation-errors {
  &::first-letter {
    text-transform: uppercase;
  }
}

.project_users {
  .pickup-form {
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: $border-radius;
  }

  .card {
    transition: none;

    .card-body {
      padding: 0.5rem;

      div.user_entry {
        padding: 0.1rem 0.5rem;
        background-color: transparent;
        transition: background-color 0.1s ease;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .text-muted {
        padding: 0.1rem 0.5rem;
      }

      table.no-borders {
        td {
          padding: 0.1rem 0.5rem;
          background-color: transparent;
          transition: background-color 0.1s ease;
          cursor: pointer;

          &.user_entry {
            &:hover {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }

          &.role-select {
            padding: 0;
          }

          select.form-control {
            height: auto;
            padding: 0.1rem 0.3rem;
            line-height: 1;
          }
        }

      }
    }

    &:hover {
      box-shadow: none;
    }
  }
}

.hidden {
  display: none;
}

.attached_files {
  .badge {
    padding: 0.5rem;
    line-height: 1.3;

    &.badge-light {
      background: #f5f5f5;
    }
  }
}

.navbar {
  .navbar-brand {
    padding-top: 0.1rem;
  }
}

.img-round {
  border-radius: 50%;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

button:focus {
  outline: none;
}

h1.title,
h2.title,
h3.title {
  font-size: 26px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px;

  .badge {
    font-size: initial;
    position: relative;
    top: -1px;
  }

  .btn-sm {
    padding: 0.25em 0.4em;
    line-height: 1;
  }
}

.dashboard-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

ul.box-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &>li {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid #e4e4e4;
    padding: 0;
    line-height: 26px;
    padding: 22px 25px 25px 25px;
    background-color: #fff;
    border-left: 5px solid transparent;

    &:hover {
      background-color: rgba(100, 0, 0, 0.01);
    }

    &.solution-comment {
      background: lighten($primary, 55%);
    }

    &.priority1 {
      border-left: 5px solid $danger;
    }

    &.priority2 {
      border-left: 5px solid $primary;
    }

    &.priority3 {
      border-left: 5px solid $success;
    }

    .buttons {
      margin-top: 10px;
    }

    attachments {
      h4 {
        margin: 10px 0;
      }
    }

    .item-description {

      .item-title {
        margin: 0;
        color: #333;
        font-size: 20px;
        margin-bottom: 5px;

        .badge {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          padding: 2px 8px;
          display: inline-block;
          position: relative;
          top: -2px;
          margin: 0 0 4px 4px;
        }
      }

      .dates {
        color: #777;
        font-size: 16px;

        .fa {
          margin-right: 7px;
          font-size: 15px;
          position: relative;
          top: -1px;
        }

        .time-spent {
          font-weight: bold;
        }
      }
    }
  }
}

a.badge {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.spent-report {
  .filters {
    margin-top: -1rem;
    margin-bottom: 1rem;
    background: #fff;

    .btn {
      margin-left: 0 !important;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.spent-report-box,
.session-box {
  h5 {
    margin: 0.75rem;
    font-weight: bold;
  }

  a {
    color: $body-color;

    &:hover {
      text-decoration: none;
      color: darken($body-color, 20%);
    }
  }

  .table {
    margin-bottom: 0;

    thead,
    tfoot {
      background: rgba(0, 0, 0, 0.04);

      th {
        border-bottom-width: 1px;
      }
    }
  }
}

.spent-total {
  padding: 0.75rem;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.04);

  mark {
    background-color: $body-bg;
    padding: .2rem .5rem;
  }
}

.session {
  .session-contents {
    margin-top: 15px;
    margin-bottom: 24px;
    background: #fff;
    padding: 10px 15px;
  }
}

.filters {
  margin-top: -10px;
  margin-bottom: 10px;
  background: #fff;

  .active {
    text-decoration: underline;
  }
}

.under-construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.page {
  textarea.contents {
    min-height: 400px;
  }
}

.navbar-dark-bg {
  background-color: rgba(33, 33, 33, 0.5);
}