{{ define "email/reset_confirmation.tmpl" }}
<p>
    Hi, {{.Name}}!
</p>
<p>
    Your password for your {{.ProjectName}} account has been successfully reset.
</p>
<p>&nbsp;</p>
<p>Thanks, <br/>The {{.ProjectName}} Team</p>
{{ end }}